In [ ]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import PlayerGameLog
import pandas as pd

In [2]:
lebron = players.find_players_by_full_name("LeBron James")[0]
lebron_id = lebron["id"]

In [3]:
gamelog = PlayerGameLog(
    player_id=lebron_id,
    season="2003-04",
    season_type_all_star="Regular Season"
)

df = gamelog.get_data_frames()[0]

In [12]:
df["GAME_DATE"] = pd.to_datetime(df["GAME_DATE"])

In [13]:
df_sorted = df.sort_values("GAME_DATE")

In [14]:
first_10_games = df_sorted.head(10)

In [15]:
first_10_games

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
78,22003,2544,0020300014,2003-10-29,CLE @ SAC,L,42,12,20,0.600,...,4,6,9,4,0,2,3,25,-9,0
77,22003,2544,0020300018,2003-10-30,CLE @ PHX,L,41,8,17,0.471,...,10,12,8,1,0,7,1,21,-3,0
76,22003,2544,0020300038,2003-11-01,CLE @ POR,L,39,3,12,0.250,...,4,4,6,2,0,2,3,8,-21,0
75,22003,2544,0020300057,2003-11-05,CLE vs. DEN,L,41,3,11,0.273,...,9,11,7,2,3,2,1,7,-3,0
74,22003,2544,0020300068,2003-11-07,CLE @ IND,L,44,8,18,0.444,...,5,5,3,0,0,7,2,23,-7,0
73,22003,2544,0020300078,2003-11-08,CLE vs. WAS,W,45,8,19,0.421,...,3,8,9,1,1,2,1,17,14,0
72,22003,2544,0020300090,2003-11-10,CLE vs. NYK,W,34,7,12,0.583,...,4,5,4,1,1,2,0,17,20,0
71,22003,2544,0020300106,2003-11-12,CLE @ MIA,L,42,6,15,0.400,...,2,3,7,2,1,4,3,18,-4,0
70,22003,2544,0020300115,2003-11-14,CLE @ BOS,L,35,3,12,0.250,...,4,5,3,0,0,4,3,10,-1,0
69,22003,2544,0020300130,2003-11-15,CLE vs. PHI,W,47,10,19,0.526,...,5,5,8,1,2,5,2,22,8,0

In [8]:
df

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22003,2544,0020301179,"Apr 14, 2004",CLE @ NYK,W,35,8,17,0.471,...,1,1,5,3,0,5,1,17,-6,0
1,22003,2544,0020301162,"Apr 12, 2004",CLE vs. MIL,W,45,9,20,0.450,...,6,7,9,2,0,1,1,27,11,0
2,22003,2544,0020301151,"Apr 10, 2004",CLE vs. MIA,W,32,4,11,0.364,...,2,3,11,0,0,2,3,10,14,0
3,22003,2544,0020301137,"Apr 09, 2004",CLE @ MIA,L,42,6,14,0.429,...,6,7,8,1,0,8,2,24,-16,0
4,22003,2544,0020301128,"Apr 07, 2004",CLE @ MEM,L,36,4,11,0.364,...,3,3,5,3,0,2,4,14,-11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,22003,2544,0020300068,"Nov 07, 2003",CLE @ IND,L,44,8,18,0.444,...,5,5,3,0,0,7,2,23,-7,0
75,22003,2544,0020300057,"Nov 05, 2003",CLE vs. DEN,L,41,3,11,0.273,...,9,11,7,2,3,2,1,7,-3,0
76,22003,2544,0020300038,"Nov 01, 2003",CLE @ POR,L,39,3,12,0.250,...,4,4,6,2,0,2,3,8,-21,0
77,22003,2544,0020300018,"Oct 30, 2003",CLE @ PHX,L,41,8,17,0.471,...,10,12,8,1,0,7,1,21,-3,0
78,22003,2544,0020300014,"Oct 29, 2003",CLE @ SAC,L,42,12,20,0.600,...,4,6,9,4,0,2,3,25,-9,0